:root {
  --d--background: #080809;
  --d--quasi-contrast: #474749;
  --d--element: #1E1E1E;
  --d--element--accent: #161617;
  --d--slightly--transparent--element: rgb(15, 15, 16, 0.8);
  --d--basic: #E5E9EC;
}