.input {
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  background-color: var(--d--element);
  color: var(--d--basic);
  border: 2px solid var(--d--border);
  font-size: 1rem;
  outline: 0;
  min-width: 14rem;
  box-sizing: border-box;

  &.error {
    border-color: var(--d--accent--red) !important;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--d--faded);

    &::placeholder {
      color: var(--d--border);
    }
  }

  &::placeholder {
    color: var(--d--quasi--contrast);
  }
}