.main_cointainer {
  min-width: 100vw;
  height: 4rem;

  background: var(--d--slightly--transparent--element);

  display: flex;
  justify-content: center;

  a {
    color: var(--d--basic);
    text-decoration: none;
    font-size: 1.1rem;
  }

  .nav_content {
    width: 100%;
    max-width: 50rem;
    min-height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    .left_group {
      display: flex;
      gap: 0.75rem;
      flex-grow: 1;


      .links {
        display: flex;
        gap: 0.75rem;
      }

      @media screen and (max-width: 833px) {
        .links {
          display: none;
        }
      }


      .branding {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        .direct_logo {
          width: 1rem;
          height: 1rem;

          display: flex;
          justify-content: space-between;
          align-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          .direct_square {
            background: var(--d--basic);

            width: 0.4rem;
            height: 0.4rem;
          }
        }

        .direct_name {
          color: var(--d--basic);
          font-size: 1.1rem;
          font-weight: 600;
          text-align: center;
        }
      }
    }

    .right_group {
      .svg {
        fill: var(--d--basic);
      }
    }
  }
}
