@import "../../variables";
$--background-color: #161617;
$--font-color: #E5E9EC;
$--font-color-hover: #12DABB;
$--font-size-normal: 1rem;
$--footer-heigth: 12rem;
$--footer-padding-y: 1rem;
$--font-weight-normal: 400;
$--font-weight-header: 600;

.footer {
    background-color: $--background-color;
    display: flex;
    flex-direction: column;
    font-size: $--font-size-normal;
    font-family: Arial, Helvetica, sans-serif;
    //zmienic czczionke na inter

    .footer_section_element, .footer_section_header, .footer_caption_element, .footer_caption_header, .footer_additional_text {
        color: $--font-color;
        text-decoration: none;
        margin-bottom: 0.4rem;

        &:hover {
            color: $--font-color-hover;
            transition: 0.4s;
        }
    }

    .footer_main {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        
        //styling everything in columns 
        .footer_column {
            //mam przeczucie ze te paddingi ponizej to nie jest dobre rozwiazanie
            padding: 0 4rem 0 4rem;        
        
            .footer_section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .footer_section_element {
                    font-size: $--font-size-normal;
                    font-weight: $--font-weight-normal;
                }
                
                .footer_section_header {
                    margin-bottom: 10px;
                    padding-top: 2rem;
                    font-size: $--font-size-normal;
                    font-weight: $--font-weight-header;
                }
            }
        }
    }
    .footer_bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding: 2rem 0 2rem 4rem;
        width: 100%;
    
        .footer_additional_text {
            font-size: $--font-size-normal;
            font-weight: $--font-weight-normal;

            hr {
                margin-right: 8rem;
                margin-bottom: 0rem;
                //width powinna byc footer main width ale nie waiem jak to zrobic
            }

            div {
                width: 80%;
                max-width: 1000px;
                height: 0.05rem;
                background-color: white;
            }
        }
    
        .footer_caption {
            display: flex;
            margin-top: 10px;  
            order: 0;
            .footer_caption_element {
                margin-right: 2rem;
                font-size: $--font-size-normal;
                font-weight: $--font-weight-normal;
            }
        }
    }
}