.direct_logo {
  width: 1rem;
  height: 1rem;

  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .direct_square {
    background: var(--d--basic);

    width: 0.4rem;
    height: 0.4rem;
  }
}